
.DS_Store
Pipeline/.snakemake/log/2020-03-12T150741.525099.snakemake.log
*.log
Christos_new/.snakemake/*
Christos_new/logs/fastp/*
Christos_old/.snakemake/*
NGS\ data/*
.snakemake/*
Christos_2021/*
filtered_reads/*
logs/*
*.bam
*.bai
*.fastq
